
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="https://sandbox.payfast.co.za​/eng/process" method="post">
    <input type="hidden" name="merchant_id" value="10020684">
    <input type="hidden" name="merchant_key" value="mp03xoz3tw97r">

    @*
        Deploy For Url Implementation

    <input type="hidden" name="return_url" value="#">
    <input type="hidden" name="cancel_url" value="#">
    <input type="hidden" name="notify_url" value="#">*@

    <input type="hidden" name="amount" value="100.00">
    <input type="hidden" name="item_name" value="Test Product">
    <input type="submit" value="Pay Now">
</form>

